<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <title>Admin Dashboard</title>
</head>
<body>
<div class="container">
    <div class="well text-center">
        <h1>A I S - Admin Dashboard</h1>
    </div>
    <div class="container text-center">
        <h3>Main Page - Select a operation</h3>
        <div class="col md-12" style="padding:10px;margin-bottom:10px;" >
            <a href=useroperations ><button type="button" class="btn btn-primary" style="height:40px;width:150px">User Operations</button></a>
            <a href=flatoperations ><button type="button" class="btn btn-success" style="height:40px;width:150px">Flat Operations</button></a>
            <a href=debtoperations ><button type="button" class="btn btn-danger" style="height:40px;width:150px">Debt Operations</button></a>
            <a href=announcementoperations ><button type="button" class="btn btn-warning" style="height:40px;width:150px">Announcement Op.</button></a>
            <a href=expenseoperations ><button type="button" class="btn btn-info" style="height:40px;width:150px">Expense Operations</button></a>
            <a href=adminreportoperations ><button type="button" class="btn btn-success" style="height:40px;width:150px">Report</button></a>
            <a href=logout ><button type="button" class="btn btn-default" style="height:40px;width:150px">Logout</button></a>
        </div>
    </div>
    <div class="well">
        <h7>Designed by Anıl Keskin</h7>
    </div>
</div>
</div>
</body>
</html>