<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>
{% block body %}
<div class="container">
    <div class="well text-center">
        <h1>A I S - Admin Dashboard</h1>
    </div>
    <div class="container">
        <div class="col md-12">
            <h2>Person List <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal">Add a Person</button></h2>
            {%with messages = get_flashed_messages() %}

            {%if messages%}

            {%for message in messages%}

                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span area-hidden="true">x</span>
                    </button>
                    {{message}}
                </div>

            {%endfor%}

            {%endif%}
            {%endwith%}

            <table class="table table-striped">
            <tr>
                <th>TC</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Phone</th>
                <th>Blood Type</th>
                <th>Flat Number</th>
                <th>Action</th>
            </tr>
            {% for row in users %}
            <tr>
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>{{row.4}}</td>
                <td>{{row.7}}</td>
                <td>
                    <a href="/update/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myedit{{row.0}}">Edit</a>
                    <a href="/delete/{{row.0}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete person ?')">Delete</a>
                    <!--<a href="" class="btn btn-success btn-xs" data-toggle="modal" data-target="#mydetail">Detail</a>-->

                </td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Insert a Person to a flat</h4>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('insert')}}" method="POST">
                        <div class="form-group">
                            <label>TC:</label>
                            <input type="text" class="form-control" name="tc" minlength="11" maxlength="11" required="1">
                        </div>
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" class="form-control" name="name" required="1">
                        </div>
                        <div class="form-group">
                        <label>Surname:</label>
                            <input type="text" class="form-control" name="surname" required="1">
                        </div>
                        <div class="form-group">
                        <label>Phone:</label>
                            <input type="text" class="form-control" name="phone" required="1">
                        </div>
                        <div class="form-group">
                        <label>Blood Type:</label>
                               <select class="form-control" required="1" name="blood">
                                    <option value="" disabled selected>Choose a blood type</option>
                                    <option value="A+">A + </option>
                                    <option value="A-">A - </option>
                                    <option value="B+">B + </option>
                                    <option value="B-">B - </option>
                                    <option value="AB+">AB + </option>
                                    <option value="AB-">AB - </option>
                                    <option value="0+">0 + </option>
                                    <option value="0-">0 - </option>
                                </select>
                        </div>
                        <div class="form-group">
                        <label>Role:</label>
                               <select class="form-control" required="1" name="role">
                                    <option value="" disabled selected>Choose a role</option>
                                    <option value="0">Person</option>
                                    <option value="1">Admin</option>
                                </select>
                        </div>
                        <div class="form-group">
                        <label>Password:</label>
                            <input type="text" class="form-control" name="password" required="1">
                        </div>
                        <div class="form-group">
                        <label>Flat:</label>
                            <select class="form-control" required="1" name="flat">
                                    <option value="" disabled selected>Choose a flat number</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Insert Person</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
    <div class="well">
        <h4>Designed by Anıl Keskin</h4>
    </div>
</div>

</body>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>


</html>